@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #F2F2F2;
}

a.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: small;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
}

a.button1-delete {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid rgb(240, 130, 130);
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: small;
    color: rgb(240, 130, 130);
    text-align: center;
    transition: all 0.2s;
}

a.button1:hover {
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer;
}

a.button1-delete:hover {
    color: #FFFFFF;
    background-color: rgb(240, 130, 130);
    cursor: pointer;
}

@media all and (max-width::30em) {
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }
}

#container-main {
    width: 95%;
    margin: 0 auto;
}

#container-login {
    background-color: #1D1F20;
    position: relative;
    top: 10%;
    margin: auto;
    width: 340px;
    height: 350px;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

#container-register {
    background-color: #1D1F20;
    position: relative;
    top: 10%;
    margin: auto;
    width: 340px;
    height: 600px;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

#container-requestParking {
    background-color: #1D1F20;
    position: relative;
    top: 10%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 2.5%;
    width: 80%;
    height: 650px;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

#container-parkings {
    background-color: #1D1F20;
    position: relative;
    top: 10%;
    margin: 2.5%;
    width: auto;
    height: auto;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

#parcheggi {
    background-color: #1D1F20;
    position: relative;
    top: 10%;
    margin: 2.5%;
    width: auto;
    height: auto;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

#title {
    position: relative;
    background-color: #1A1C1D;
    width: 100%;
    padding: 20px 0px;
    border-radius: 0.35em;
    font-size: 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.lock {
    position: relative;
    top: 2px;
}

.form-divider {
    margin-top: 25px;
    margin-bottom: 10px;
}

.hr {
    color: #FFF;
    background-color: #FFF;
    border-radius: 5px;
}

.hr-label {
    font-size: 13pt;
    margin-bottom: 2px;
    float: left;
    margin-left: 12%;
    display: block;
}

.hr-text {
    margin-left: 35px;
}

.hr-icon {
    float: left;
}

.input {
    margin: auto;
    width: 240px;
    border-radius: 4px;
    background-color: #373b3d;
    padding: 8px 0px;
    margin-top: 15px;
}

.input-small {
    width: 190px;
}

.input-large {
    width: 420px;
}

.input-left {
    margin-left: 25%;
}

.input-right {
    margin-right: 25%;
}

.input-addon {
    float: left;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 4px 8px;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

input[type=checkbox] {
    cursor: pointer;
}

.checkbox {
    margin-top: 5px;
    margin-left: 10px 0;
}

.checkbox-right {
    float: left;
    margin-top: 10px;
    margin-left: 25%;
}

input[type=text] {
    color: #949494;
    margin: 0;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 6px 0px;
    border-radius: 3px;
}

input[type=number] {
    color: #949494;
    margin: 0;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 6px 0px;
    border-radius: 3px;
}

.input-type-small {
    width: 90px;
}

.input-type-large {
    width: 300px;
}

input[type=text]:focus {
    border: 1px solid #373b3d;
}

input[type=password] {
    color: #949494;
    margin: 0;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 6px 0px;
    border-radius: 3px;
}

input[type=password]:focus {
    border: 1px solid #373b3d;
}

input[type=email] {
    color: #949494;
    margin: 0;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 6px 0px;
    border-radius: 3px;
}

input[type=email]:focus {
    border: 1px solid #373b3d;
}

.forgot-password {
    font-size: 12px;
    position: relative;
    margin-top: 25px;
    bottom: 0%;
    text-decoration: underline;
}

.forgot-password a:link {
    color: #C1C3C6;
    text-decoration: none;
}

.forgot-password a:visited {
    color: #C1C3C6;
    text-decoration: none;
}

.forgot-password a:hover {
    color: #FFF;
    transition: color 1s;
}

.privacy {
    margin-top: 10px;
    position: relative;
    font-size: 12px;
    bottom: 0%;
    margin-bottom: 40px;
    /*
    margin: auto;
    padding: 16px 0;
    text-align: center;
    margin-top: 40px;
    width: 85%;
    border-top: 1px solid #C1C3C6;
    */
}

.privacy a:link {
    color: #949494;
    text-decoration: none;
}

.privacy a:visited {
    color: #949494;
    text-decoration: none;
}

.privacy a:hover {
    color: #C1C3C6;
    transition: color 1s;
}

*:focus {
    outline: none;
}

.remember-me {
    margin-top: 5px;
    margin: 10px 0;
}

input[type=submit] {
    padding: 6px 25px;
    background: #373E4A;
    color: #C1C3C6;
    font-weight: bold;
    border: 0 none;
    cursor: pointer;
    border-radius: 3px;
}

input[type=submit]:hover {
    color: #373E4A;
    background-color: #C1C3C6;
}

.register {
    margin: auto;
    padding: 16px 0;
    text-align: center;
    margin-top: 40px;
    width: 85%;
    border-top: 1px solid #C1C3C6;
}

.clearfix {
    clear: both;
}

#register-link {
    margin-top: 10px;
    padding: 6px 25px;
    background: #373E4A;
    color: #C1C3C6;
    font-weight: bold;
    border: 0 none;
    cursor: pointer;
    border-radius: 3px;
}

#columnLeft {
    width: 50%;
}

#columnRight {
    width: 50%;
}

#columnRight-municipality {
    width: 50%;
    margin-top: 0px;
}

.column {
    float: left;
    /* width: 50%; */
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.select-style {
    border: #373b3d;
    width: auto;
    /*border-radius: 3px;*/
    overflow: hidden;
    background-color: #373b3d;
}

.select-style select {
    padding: 8px 30px;
    color: #949494;
    margin: 0;
    background-color: #373b3d;
    /* width: 130%; */
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */

.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* table */

table {
    display: table;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    border-collapse: collapse;
    border: 1px solid rgb(22, 24, 26)
}

td {
    text-align: center;
    padding: 2%;
}

th {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

/* scrollbar table*/
tbody {
    display: block;
    height: 200px;
    overflow: auto;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    /* even columns width , fix width of table too*/
}

thead {
    width: calc( 100% - 1em);/* scrollbar is average 1em/16px width, remove it from thead width */
    border-top: 1px solid rgb(22, 24, 26);
    border-bottom: 1px solid rgb(22, 24, 26);
}


.list-group-item {
    background-color: #1D1F20;
    border-color: rgb(22, 24, 26);
    text-align: left;
    padding-left: 5%;
}

/* Navbar */

.navbar {
    position: relative;
}

#navbar-main {
    display: inline;
}

.navbar-header {
    display: inline-block;
}

/* map */
#map {
    margin-top: 30px;
    margin-top: 10px;
    margin-left: 35px;
    height: 250px;
    width: 500px;
    width: 400px;
    box-shadow: 3px 3px 10px gray;
    float: left;
}

