@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #F2F2F2;
}

a.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: small;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
}

a.button1-delete {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid rgb(240, 130, 130);
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: small;
    color: rgb(240, 130, 130);
    text-align: center;
    transition: all 0.2s;
}

a.button1-big {
    font-size: 14px;
    letter-spacing: 0.8px;
}

a.button1:hover {
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer;
}

a.button1-delete:hover {
    color: #FFFFFF;
    background-color: rgb(240, 130, 130);
    cursor: pointer;
}

@media all and (max-width::30em) {
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }
}

#container-main {
    width: 95%;
    margin: 0 auto;
}

#container-login {
    background-color: #1D1F20;
    position: relative;
    top: 10%;
    margin: auto;
    width: 340px;
    height: 350px;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

#container-register {
    background-color: #1D1F20;
    position: relative;
    top: 10%;
    margin: auto;
    width: 340px;
    height: 600px;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

#container-requestParking {
    background-color: #1D1F20;
    position: relative;
    top: 10%;
    margin: auto;
    width: 80%;
    height: 650px;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

#container-requestCompany {
    background-color: #1D1F20;
    position: relative;
    top: 10%;
    margin: auto;
    width: 80%;
    height: 650px;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

#container-companies {
    background-color: #1D1F20;
    position: relative;
    top: 10%;
    margin: auto;
    width: 80%;
    height: 455px;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

#container-parkingDetails {
    background-color: #1D1F20;
    position: relative;
    top: 10%;
    margin: auto;
    width: 80%;
    height: 455px;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

#container-parkings {
    background-color: #1D1F20;
    position: relative;
    top: 10%;
    margin: auto;
    margin-left: 2.5%;
    width: auto;
    height: auto;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

#title {
    position: relative;
    background-color: #1A1C1D;
    width: 100%;
    padding: 20px 0px;
    border-radius: 0.35em;
    font-size: 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

/* material icons */

.lock {
    position: relative;
    top: 2px;
}

.fa-plus {
    margin-right: 2px;
    margin-bottom: 2px;
}

.form-divider {
    margin-top: 25px;
}

.hr {
    color: #FFF;
    background-color: #FFF;
    border-radius: 5px;
}

.hr-label {
    font-size: 13pt;
    margin-bottom: 2px;
    float: left;
    margin-left: 12%;
    display: block;
}

.hr-text {
    margin-left: 35px;
}

.hr-icon {
    float: left;
}

.input {
    margin: auto;
    width: 240px;
    border-radius: 4px;
    background-color: #373b3d;
    padding: 8px 0px;
    margin-top: 15px;
}

.input-small {
    width: 190px;
}

.input-large {
    width: 420px;
}

.input-medium {
    width: 396px;
}

.input-left {
    margin-left: 25%;
}

.input-right {
    margin-right: 25%;
}

.input-addon {
    float: left;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 4px 8px;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

input[type=checkbox] {
    cursor: pointer;
}

.checkbox {
    margin-top: 5px;
    margin-left: 10px 0;
}

.checkbox-right {
    float: left;
    margin-top: 10px;
    margin-left: 25%;
}

input[type=text] {
    color: #949494;
    margin: 0;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 6px 0px;
    border-radius: 3px;
}

input[type=number] {
    color: #949494;
    margin: 0;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 6px 0px;
    border-radius: 3px;
}

.input-type-small {
    width: 90px;
}

.input-type-large {
    width: 300px;
}

input[type=text]:focus {
    border: 1px solid #373b3d;
}

input[type=password] {
    color: #949494;
    margin: 0;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 6px 0px;
    border-radius: 3px;
}

input[type=password]:focus {
    border: 1px solid #373b3d;
}

input[type=email] {
    color: #949494;
    margin: 0;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 6px 0px;
    border-radius: 3px;
}

input[type=email]:focus {
    border: 1px solid #373b3d;
}

.forgot-password {
    font-size: 12px;
    position: relative;
    margin-top: 25px;
    bottom: 0%;
    text-decoration: underline;
}

.forgot-password a:link {
    color: #C1C3C6;
    text-decoration: none;
}

.forgot-password a:visited {
    color: #C1C3C6;
    text-decoration: none;
}

.forgot-password a:hover {
    color: #FFF;
    transition: color 1s;
}

.privacy {
    margin-top: 10px;
    position: relative;
    font-size: 12px;
    bottom: 0%;
    margin-bottom: 40px;
    /*
    margin: auto;
    padding: 16px 0;
    text-align: center;
    margin-top: 40px;
    width: 85%;
    border-top: 1px solid #C1C3C6;
    */
}

.privacy a:link {
    color: #949494;
    text-decoration: none;
}

.privacy a:visited {
    color: #949494;
    text-decoration: none;
}

.privacy a:hover {
    color: #C1C3C6;
    transition: color 1s;
}

*:focus {
    outline: none;
}

.remember-me {
    margin-top: 5px;
    margin: 10px 0;
}

input[type=submit] {
    padding: 6px 25px;
    background: #373E4A;
    color: #C1C3C6;
    font-weight: bold;
    border: 0 none;
    cursor: pointer;
    border-radius: 3px;
}

input[type=submit]:hover {
    color: #373E4A;
    background-color: #C1C3C6;
}

.register {
    margin: auto;
    padding: 16px 0;
    text-align: center;
    margin-top: 40px;
    width: 85%;
    border-top: 1px solid #C1C3C6;
}

.clearfix {
    clear: both;
}

#register-link {
    margin-top: 10px;
    padding: 6px 25px;
    background: #373E4A;
    color: #C1C3C6;
    font-weight: bold;
    border: 0 none;
    cursor: pointer;
    border-radius: 3px;
}

#columnLeft {
    width: 50%;
}

#columnRight {
    width: 50%;
}

#columnRight-municipality {
    width: 50%;
    margin-top: 0px;
}

.column {
    float: left;
    /* width: 50%; */
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.select-style {
    border: #373b3d;
    width: auto;
    /*border-radius: 3px;*/
    overflow: hidden;
    background-color: #373b3d;
}

.select-style select {
    padding: 8px 30px;
    color: #949494;
    margin: 0;
    background-color: #373b3d;
    /* width: 130%; */
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

/* TABS */

/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #918c8b;
    background-color: #373b3d;
}

/* Style the buttons that are used to open the tab content */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    letter-spacing: 0.5px;
}

/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #a3a3a3;
}

/* Create an active/current tablink class */

.tab button.active {
    background-color: #a3a3a3;
}

/* Style the tab content */

.tabcontent {
    min-height: 333px;
    background-color: #1D1F20;
    display: none;
    padding: 12px;
    border: 1px solid #918c8b;
    border-top: none;
    border-radius: 0.35em;
}

/* table */

table {
    display: table;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    border-collapse: collapse;
    border: 1px solid rgb(22, 24, 26)
}

td {
    text-align: center;
    padding: 2%;
}

th {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    letter-spacing: 0.5px;
}

/* scrollbar table*/

tbody {
    display: block;
    height: 380px;
    overflow-y: scroll;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    /* even columns width , fix width of table too*/
}

thead {
    width: calc( 100% - 1em);
    /* scrollbar is average 1em/16px width, remove it from thead width */
    border-top: 1px solid rgb(22, 24, 26);
    border-bottom: 1px solid rgb(22, 24, 26);
}

/*Bottom of table*/

.tbottom {
    margin: auto;
    height: 50px;
    padding: 5px;
    border-top: 1px solid rgb(22, 24, 26);
}

.tbottom form {
    margin: auto;
    margin-top: 3px;
}

.tbottom input[type="number"] {
    height: 32px;
    margin-right: 1%;
    padding: 2%;
    transition: 0.1s;
    letter-spacing: 0.5pt;
    font-size: 15px;
    border-radius: 3px;
    overflow: hidden;
    color: #dadada;
}

.tbottom ::placeholder {
    color: #949494;
    font-size: 15px;
}

.tbottom button {
    height: 32px;
}

.list-group-item {
    background-color: #1D1F20;
    border-color: rgb(22, 24, 26);
    text-align: left;
    padding-left: 5%;
}

/* Detail Form Labels */

.details {
    margin: auto;
    width: 190px;
    height: 40px;
    border-radius: 4px;
    background-color: #373b3d;
    padding: 8px;
    margin-top: 15px;
    text-align: left;
}

.details-label {
    letter-spacing: 0.5px;
    font-size: 14px;
    float: left;
    padding-top: 2px;
    padding-left: 3px;
    padding-right: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.089);
}

.details-text {
    margin-left: 2px;
    letter-spacing: 0.5px;
    font-size: 14px;
    float: left;
    padding-top: 2px;
    padding-left: 5px;
    border: 1px solid #373b3d;
}

.details-large {
    width: 365px;
    float: left;
    margin-left: 10%;
}

.details-list {
    margin-top: 5%;
    margin-left: 10%;
    text-align: left;
    list-style-type: circle;
}

.details-list li {
    margin-top: 2%;
    letter-spacing: 0.5px;
}

/*details h3*/

#details {
    font-size: 18px;
    letter-spacing: 0.5px;
}

/*No details h3*/

#noDetails {
    margin-top: 22%;
    font-size: 16px;
    letter-spacing: 0.5px;
}

/*Status messages */

#messagebox {
    margin-top: 12px;
    min-height: 55px;
    max-width: 430px;
    color: #FFFFFF;
    letter-spacing: 0.5px;
}

#messagebox.success {
    margin-left: 4%;
    border-left: solid 4px #00C851;
}

#messagebox.fail {
    margin-left: 4%;
    border-left: solid 4px #ff4444;
}

#messagebox.normal {
    margin-top: 35px;
    margin-left: 4%;
    border-left: solid 4px #cecece;
}

#messagebox-icon {
    float: left;
    margin-top: 4px;
    margin-left: 25px;
    padding: 4px;
}

#messagebox-header {
    float: left;
    padding: 4px;
    margin-top: 4px;
    margin-left: 4px;
    font-size: 15px;
    letter-spacing: 0.5px;
}

#messagebox-ul {
    margin-top: 2px;
    max-width: 390px;
    margin-left: 10%;
    text-align: left;
    list-style-type: circle;
}

/* Table search filters */

.search input[type="text"], .search input[type="number"], .search select {
    width: 100px;
    height: 30px;
    padding: 2%;
    outline: 0 none;
    border: 1px solid #918c8b;
    transition: 0.1s;
    font-size: 13px;
    padding: 5%;
    border-radius: 3px;
    overflow: hidden;
    background-color: #373b3d;
    color: #dadada;
}

.search select {
    padding: 0%;
    padding-left: 5%;
}

.search input[type="text"]:focus, .search input[type="number"]:focus {
    border: 1px solid #dadada;
}

.search ::placeholder {
    color: #949494;
    font-size: 13px;
}

.search-tr {
    margin-bottom: 2px;
    border-bottom: 1px solid rgb(22, 24, 26);
}

.search-th {
    padding-bottom: 15px;
}

/* Navbar */

.navbar {
    position: relative;
}

#navbar-main {
    display: inline;
}

.navbar-header {
    display: inline-block;
}

.navbar-default .navbar-brand {
    position: absolute;
    left: 40px;
    margin: auto;
}

.logo-image {
    max-width: 50px;
    overflow: hidden;
    margin-top: -3px;
}

/* map */

#map {
    margin-top: 30px;
    margin-top: 10px;
    margin-left: 35px;
    height: 230px;
    width: 400px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*footer*/

/*wrapper for sticky footer*/

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between
}

.footer {
    background: #edeff1;
    height: auto;
    margin-top: 100px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #dddddd;
}

.footer-bottom p {
    margin: 0;
    color: rgb(40, 106, 86);
}

.logo-footer {
    margin-top: -30px;
}

.footer h3 {
    border-bottom: 1px solid #bac1c8;
    color: rgb(40, 106, 86);
    font-size: 17px;
    font-weight: 700;
    line-height: 27px;
    padding: 10px 0 10px;
    text-transform: uppercase;
}

.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7f8c8d;
}

.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
    color: #78828d;
    font-size: 13px;
}

.contacts {
    font-size: 13px;
    padding: 0 0 5px 0;
}

.bg-gray {
    background-image: -moz-linear-gradient( center bottom, #bbbbbb 0%, #f0f0f0 100%);
    box-shadow: 0 1px 0 #b4b3b3;
}

.social li {
    list-style-type: none;
    background: none repeat scroll 0 0 #b5b5b5;
    border: 2px solid #b5b5b5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}

.social li a {
    color: #edeff1;
}

.social li:hover {
    border: 2px solid rgb(40, 106, 86);
    background: rgb(40, 106, 86);
}

.social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: #edeff1 !important;
}

.footer-bottom {
    background: #e3e3e3;
    border-top: 1px solid #dddddd;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-bottom p.pull-left {
    padding-top: 6px;
}

.footer img {
    margin-top: 50%;
    max-width: 100%;
}

/*Header*/

.dm-banner-title {
    text-align: right;
    padding: 10px 0px;
}

.dm-banner-title .front-text-box {
    position: relative;
    z-index: 1;
}

.dm-banner-title h3 {
    font-weight: 400;
    letter-spacing: 1.5px;
    border-bottom: 1px solid #5b945b;
    padding-bottom: 14px;
}

.dm-banner-text {
    padding: 107px 0px;
    font-size: 15px;
    font-weight: 450;
    color: #34945c;
}