<html>

<head>
    <meta charset="UTF-8">
    <title>Municipality</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../content/css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #303641;
        }
    </style>
</head>

<navigation></navigation>

<div class="flex-wrapper">
    <div id="container-main">
        <!-- Tab content -->
        <div id="Home">

            <div class="row" style="margin-left: 1%; margin-bottom: 0.6%;">
                <h3>Municipality</h3>
            </div>
           

            <div class="row">
                <div class="column" id="columnLeft" style="width: 55%">
                    <div id="container-parkings">
                        <div id="title">
                            Parkings
                        </div>
                        <table style="width: 100%" fixed-header>
                            <thead>
                                <tr>
                                    <th style="width: 15%;">ID</th>
                                    <th> Company</th>
                                    <th>Address</th>
                                    <th> Status</th>
                                    <th></th>
                                </tr>
                                <tr class="search-tr">
                                    <th style="width: 15%;"> </th>
                                    <th class="search search-th">
                                        <input class="search" type="text" name="companyFilter" id="companyFilter"
                                            placeholder="Search" ng-model="vm.filter.company" style="width: 100px;">
                                    </th>
                                    <th class="search search-th">
                                        <input class="search" type="text" name="addressFilter" id="addressFilter"
                                            placeholder="Search" ng-model="vm.filter.address" style="width: 100px;">
                                    </th>
                                    <th class="search search-th">
                                        <select ng-model="vm.filter.status">
                                            <option value="" selected>Any</option>
                                            <option value="true">Enabled</option>
                                            <option value="false">Disabled</option>
                                        </select>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody style="height: 295px;">
                                <tr ng-repeat="parking in visibleParkings = vm.filterTable()">
                                    <td style="width: 15%;">{{parking.id}}</td>
                                    <td>{{parking.company}}</td>
                                    <td>{{parking.address}}</td>
                                    <td ng-if="parking.isUsable">Enabled</td>
                                    <td ng-if="!parking.isUsable">Disabled</td>
                                    <td><a class="button1" ng-click="vm.showParkingDetails(parking.id)">Details</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--column left-->


                <!--Parking Details section-->
                <div class="column" id="columnRight" style="width: 45%">
                    <div id="container-parkingDetails">
                        <div id="title">
                            Details <span ng-if="vm.parkingDetails != null"> - Parking {{vm.parkingDetails.id}} </span>
                        </div>
                        <form>

                            <!-- Tab links -->
                            <div class="tab">
                                <button class="tablinks active" onclick="openTab(event, 'General')">General</button>
                                <button class="tablinks" onclick="openTab(event, 'Map')">Map</button>
                                <button class="tablinks" onclick="openTab(event, 'Status')">Status</button>
                            </div>

                            <!-- Tab content -->

                            <!-- General Tab-->
                            <div id="General" class="tabcontent" style="display:block">
                                <div ng-if="vm.parkingDetails != null" class="row">

                                    <div class="details details-large">
                                        <p class="details-label">Company</p>
                                        <p class="details-text"> {{vm.parkingDetails.company}} </p>
                                    </div>
                                    <div class="details details-large">
                                        <p class="details-label">City</p>
                                        <p class="details-text"> {{vm.parkingDetails.city}} </p>
                                    </div>

                                    <div class="details details-large">
                                        <div class="details-label">Address</div>
                                        <p class="details-text">{{vm.parkingDetails.address}}</p>
                                    </div>

                                    <div class="details details-large">
                                        <div class="details-label">Rate</div>
                                        <p class="details-text">{{vm.parkingDetails.price}} &#8364;/hr </p>
                                    </div>
                                </div>
                                <div ng-if="vm.parkingDetails != null" class="row">
                                    <ul class="details-list">
                                        <li ng-show="!vm.parkingDetails.indoor && vm.parkingDetails!= null">Outdoor
                                            Parking Space</li>
                                        <li ng-show="vm.parkingDetails.indoor && vm.parkingDetails!= null">Indoor
                                            Parking Space</li>
                                        <li ng-show="vm.parkingDetails.handicap && vm.parkingDetails!= null">
                                            Accessible Parking Space</li>
                                    </ul>
                                </div>
                                <div ng-if="vm.parkingDetails == null" class="row">
                                    <h3 id="noDetails"> Select a parking to show its details</h3>
                                </div>

                            </div>

                            <!-- Coordinates Tab-->
                            <div id="Map" class="tabcontent" style="display:none">
                                <!--Map-->
                                <div class="row" ng-show="vm.parkingDetails != null">
                                    <div id="map" style="text-align: right;"></div>
                                </div>
                                <div class="row" ng-if="vm.parkingDetails != null" style="margin-top: 10px;">
                                    <div class="column" id="columnLeft">
                                        <div class="details">
                                            <div class="details-label">Latitude</div>
                                            <p class="details-text">{{vm.parkingDetails.coordinates.latitude}}</p>
                                        </div>
                                    </div>
                                    <div class="column" id="columnRight">
                                        <div class="details">
                                            <div class="details-label">Longitude</div>
                                            <p class="details-text">{{vm.parkingDetails.coordinates.longitude}}</p>
                                        </div>
                                    </div>
                                </div>

                                <div ng-if="vm.parkingDetails == null" class="row">
                                    <h3 id="noDetails"> Select a parking to show its details</h3>
                                </div>

                            </div>

                            <!-- Status Tab-->
                            <div id="Status" class="tabcontent" style="display:none">

                                <div class="row" ng-if="vm.parkingDetails.isUsable && vm.parkingDetails!= null">
                                    <!-- Enabled -->
                                    <div class="col success" id="messagebox">
                                        <div class="row">
                                            <div id="messagebox-icon">
                                                <span class="fa fa-lg fa-check text-success"></span>
                                            </div>

                                            <div id="messagebox-header">Enabled</div>
                                        </div>
                                        <div class="row">
                                            <div class="column" id="columnLeft" style="width: 60%;">
                                                <ul id="messagebox-ul">
                                                    <li> This parking space is enabled and can be used.</li>
                                                </ul>
                                            </div>
                                            <div class="column" id="columnRight" style="width: 40%;">
                                                <a class="button1-delete button1-big" style="margin-top:5px;"
                                                    ng-click="vm.onSubmitUpdate(false)">Disable</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" ng-if="!vm.parkingDetails.isUsable && vm.parkingDetails!= null">
                                    <!-- Disabled -->
                                    <div class="col fail" id="messagebox">
                                        <div class="row">
                                            <div id="messagebox-icon">
                                                <span class="fa fa-lg fa-times text-danger"></span>
                                            </div>
                                            <div id="messagebox-header">Disabled</div>
                                        </div>
                                        <div class="row">
                                            <div class="column" id="columnLeft" style="width: 60%;">
                                                <ul id="messagebox-ul">
                                                    <li> This parking
                                                        space has been disabled and cannot be used.</li>
                                                </ul>
                                            </div>
                                            <div class="column" id="columnRight" style="width: 40%;">
                                                <a class="button1 button1-big" style="margin-top:5px;"
                                                    ng-click="vm.onSubmitUpdate(true)">Enable</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" ng-if=" vm.parkingDetails!= null && vm.parkingDetails.isUsable">
                                    <div class="col normal" id="messagebox">
                                        <div class="row">

                                            <div id="messagebox-icon">
                                                <span class="fa fa-lg fa-car"></span>
                                            </div>
                                            <div ng-show="vm.parkingDetails.plate == null" id="messagebox-header">Free
                                            </div>
                                            <div ng-show="vm.parkingDetails.plate != null" id="messagebox-header">
                                                Occupied
                                            </div>
                                        </div>
                                        <div class="row">
                                            <ul id="messagebox-ul">
                                                <li ng-show="vm.parkingDetails.plate == null"> License Plate: None</li>
                                                <li ng-show="vm.parkingDetails.plate != null"> License Plate:
                                                    {{vm.parkingDetails.plate}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="vm.parkingDetails == null" class="row">
                                    <h3 id="noDetails"> Select a parking to show its details</h3>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <!--column right-->


            </div>
        </div>
    </div>

    <navfooter></navfooter>
</div> <!-- flex wrapper -->
</body>

</html>