<html>

<head>
    <meta charset="UTF-8">
    <title>Parking Company</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../content/css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <style>
        body {
            background-color: #303641;
        }
    </style>
</head>

<navigation></navigation>

<div class="flex-wrapper">
    <div id="container-main">

        <h3>{{vm.user.company}}</h3>
        
        <div class="row">
            <div class="column" id="columnLeft">
                <div id="parcheggiComp">
                    <div id="titleComp" align="center">
                        <h4>Parkings</h3>
                    </div>
                    <table style="width: 100%">
                        <tr>
                            <th>ID</th>
                            <th>Address</th>
                            <th>City</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="parking in vm.approvedParkings">
                            <td>{{parking.id}}</td>
                            <td>{{parking.address}}</td>
                            <td>{{parking.city}}</td>
                            <td><a class="button1" ng-click="vm.showParkingDetailsComp(parking.id)" href="">Details</a>
                            </td>
                        </tr>
                    </table>

                    <form action="" method="PATCH" name="formPriceChange">
                        <input type="number" name="newPricePC" id="newPricePC" placeholder="Insert Price">
                        <a class="button1">Update Price</a>
                    </form>
                </div>
            </div>

            <!--Parking Details section-->

            <div class="column" id="columnRight">
                <div id="parcheggiCompDettagli">
                    <div id="titleCompDetails" align="center">
                        <i class="material-icons lock">description</i>Details
                    </div>
                    <ul>
                        <li class="list-group-item list-group-item-success" ng-show="vm.parkingDetailsComp != null">
                            <strong>Parking {{vm.parkingDetailsComp.id}}</strong>
                        </li>
                        <li class="list-group-item list-group-item-success" ng-show="vm.parkingDetailsComp === null">
                            <strong>Select a parking to show details</strong>
                        </li>
                        <li class="list-group-item">
                            <strong> City: </strong> {{vm.parkingDetailsComp.city}}
                        </li>
                        <li class="list-group-item">
                            <strong> Address: </strong>{{vm.parkingDetailsComp.address}}
                        </li>
                        <li class="list-group-item">
                            <strong> Latitude: </strong> {{vm.parkingDetailsComp.coordinates.latitude}}
                        </li>
                        <li class="list-group-item">
                            <strong> Longitude: </strong>{{vm.parkingDetailsComp.coordinates.longitude}}
                        </li>
                        <li class="list-group-item">
                            <strong> Indoor: </strong> {{vm.parkingDetailsComp.indoor}}
                        </li>
                        <li class="list-group-item">
                            <strong> Handicap Space: </strong> {{vm.parkingDetailsComp.handicap}}
                        </li>
                        <li class="list-group-item">
                            <strong> Hourly Rate: </strong> {{vm.parkingDetailsComp.price}}
                        </li>
                        <!--Dovrebbe essere approvato se la compagnia lo vede

                        <li class="list-group-item">
                            <strong> Approvato: </strong> {{vm.parkingDetailsComp.isApproved}}
                        </li>-->
                        <li class="list-group-item">
                            <strong> Usable: </strong> {{vm.parkingDetailsComp.isUsable}}
                        </li>
                        <li class="list-group-item">
                            <strong> Plate: </strong> {{vm.parkingDetailsComp.plate}}
                        </li>
    
                    </ul>

                </div>
             
            </div>
        </div>

    </div>

    <navfooter></navfooter>
</div> <!-- flex wrapper-->
</body>

</html>