<html>

<head>
    <meta charset="UTF-8">
    <title>Parking Company</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../content/css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        body {
            background-color: #303641;
        }
    </style>
</head>

<navigation></navigation>

<div id="container-main">
    <!-- Tab content -->
    <div id="Home">
        <h3>{{vm.user.company}}</h3>
        <div class="row">
            <div class="column" id="columnLeft">
                <div id="parcheggiComp">
                    <div id="titleComp" align="center">
                       <h4>Parkings</h3> 
                    </div>
                    <table style="width: 100%">
                        <tr>
                            <th>ID</th>
                            <th>Address</th>
                            <th>City</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="parking in vm.allParkingsComp"><!-- TODO method -->
                            <td>{{parking.id}}</td>
                            <td>{{parking.address}}</td>
                            <td>{{parking.city}}</td>
                            <td><a class="button1" ng-click="vm.showParkingDetailsComp(parking.id)" href="">Details</a></td><!-- TODO method -->
                        </tr>
                    </table>
                   
                    <form action="" method="PATCH" name="formPriceChange">
                    <input type="number" name="newPricePC" id="newPricePC" placeholder="Insert Price">
                    <a class="button1">Update Price</a>
                    </form>
                </div>
            </div>
            <div class="column" id="columnRight">
             
            </div>
        </div>


    </div>
</div>
</body>

</html>