<html>

<head>
    <meta charset="UTF-8">
    <title>Municipality</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />

    <!--CSS-->
    <link rel="stylesheet" href="../content/css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
    <style>
        body {
            background-color: #303641;
        }
    </style>
</head>

<navigation></navigation>

<div class="flex-wrapper">
    <div id="container-main">

    </div>
    <!--column left-->

    <div class="column" id="columnRight">
        <!-- Parking Request Form-->
        <div id="container-requestParking">
            <div id="title">
                Request Parking
            </div>

            <form ng-submit="vm.onSubmitRequest()">

                <div class="form-divider">
                    <p class="hr-label">General</p>
                    <hr style="width: 80%;">
                </div>

                <div class="row">
                    <div class="column" id="columnLeft">
                        <div class="input input-small input-left">
                            <div class="input-addon">
                                Parking ID
                            </div>
                            <input id="parkingID" type="number" required class="validate input-type-small"
                                autocomplete="off" ng-model="vm.newParking.id" min="1">
                        </div>
                    </div>

                    <div class="column" id="columnRight">
                        <div class="input input-small input-right">
                            <div class="input-addon">
                                City
                            </div>
                            <input id="city" type="text" required class="validate input-type-small" autocomplete="off"
                                ng-model="vm.newParking.city">
                        </div>
                    </div>
                </div>

                <div class=" input input-large">
                    <div class="input-addon">
                        Address
                    </div>
                    <input id="address" type="text" required class="validate input-type-large" autocomplete="off"
                        ng-model="vm.newParking.address">
                </div>

                <div class="form-divider">
                    <span class="hr-label">
                        <i class="material-icons lock hr-icon">gps_fixed</i>
                        <p class="hr-text">Coordinates</p>
                    </span>
                    <hr style="width: 80%;">
                </div>

                <div class="row">
                    <div class="column" id="columnLeft">
                        <div class=" input input-small input-left">
                            <div class="input-addon">
                                Latitude
                            </div>
                            <input id="lat" type="number" step="0.000001" min="0.000000" required
                                class="validate input-type-small" autocomplete="off" ng-model="vm.newParking.latitude">
                        </div>
                    </div>
                    <div class="column" id="columnRight">
                        <div class=" input input-small input-right">
                            <div class="input-addon">
                                Longitude
                            </div>
                            <input id="long" type="number" step="0.000001" min="0.000000" required
                                class="validate input-type-small" autocomplete="off" ng-model="vm.newParking.longitude">
                        </div>
                    </div>
                </div>

                <div class="form-divider">
                    <p class="hr-label">Rate and details</p>
                    <hr style="width: 80%;">
                </div>

                <div class="row">
                    <div class="column" id="columnLeft">
                        <div class="input input input-small input-left">
                            <div class="input-addon">
                                &#8364;/hr.
                            </div>
                            <input id="price" type="number" step="0.1" required class="validate input-type-small"
                                autocomplete="off" ng-model="vm.newParking.price">
                        </div>
                    </div>

                    <div class="column" id="columnRight">
                        <div class="row">
                            <div class="checkbox-right">
                                <input id="indoor" type="checkbox" class="validate" autocomplete="off"
                                    ng-model="vm.newParking.indoor">
                                <span style="color: #DDD">Indoor</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="checkbox-right">
                                <input id="handicap" type="checkbox" class="validate" autocomplete="off"
                                    ng-model="vm.newParking.handicap">
                                <span style="color: #DDD">Handicap</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row" style="margin-top: 5%;">
                    <input type="submit" value="Submit Request" class="submit-button" />
                </div>

            </form>

        </div>

    </div>
    <!--column right-->
</div>
</div>
</div>

</div>


</body>

</html>